<div class="card my-1" *ngIf="+movie!.id!>0">
    <div class="card-body">
        <div class="form-group">
            <span class="badge bg-warning text-dark">
                Id: {{movie!.id!}}
            </span>
        </div>
        <div class="form-group">
            <label for="name"></label>
            <input type="text" [(ngModel)]="movie!.name!" class="form-control">
        </div>
        <div class="form-group">
            <label for="imageUrl"></label>
            <input type="text" [(ngModel)]="movie!.imageUrl!" class="form-control">
        </div>
        <div class="form-group">
            <label for="description"></label>
            <textarea type="text" [(ngModel)]="movie!.description!" class="form-control"></textarea>
        </div>
        <button (click)="save()" class="btn btn-primary btn-sm mt-3">Save Changes</button>
    </div>
</div>